@()(implicit request: RequestHeader, flash: Flash)

@main("Home"){
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="getCookiesRoute" value="@routes.Application.getCookies()">
  <input type="hidden" id="custPageRoute" value="@routes.CustController.load()">
  <input type="hidden" id="custLoginRoute" value="@routes.CustController.validateCustomer()">
  <input type="hidden" id="newCustRoute" value="@routes.CustController.newCustomer()">
  @{ /* Lines enclosed by @* text *@ are comments Aaron <input type="hidden" id="troopEmailRoute" value="@routes.CustController.getTroopEmail()"> */ }
  @{ /* <input type="hidden" id="getNextDeliveryRoute" value="@routes.CustController.getNextDelivery()"> */ }
  @{ /* <input type="hidden" id="getAvailCookiesRoute" value="@routes.CustController.getAvailCookies()"> */ }
  <input type="hidden" id="troopPageRoute" value="@routes.TroopController.load()"> 
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

  <div id="main-root"></div>
  <script src="@routes.Assets.versioned("javascript/cust.js")"></script>
}
