@()(implicit request: RequestHeader, flash: Flash)

@main("Home"){
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <input type="hidden" id="getCookiesRoute" value="@routes.Application.getCookies()">
  <input type="hidden" id="custPageRoute" value="@routes.CustController.load()">
  <input type="hidden" id="troopPageRoute" value="@routes.TroopController.load()">
  <input type="hidden" id="thinmint" value="@routes.Assets.versioned("images/ThinMints.jpg")">
  <input type="hidden" id="tagalong" value="@routes.Assets.versioned("images/Tagalongs.jpg")">
  <input type="hidden" id="samoas" value="@routes.Assets.versioned("images/SamoasCaramelDeLites.jpg")">
  <input type="hidden" id="smores" value="@routes.Assets.versioned("images/Smores.jpg")">
  <input type="hidden" id="toffeetastic" value="@routes.Assets.versioned("images/ToffeeTastics.jpg")">
  <input type="hidden" id="toast-yay" value="@routes.Assets.versioned("images/Toast-yay.jpg")">
  <input type="hidden" id="shortbreadtrefoils" value="@routes.Assets.versioned("images/ShortbreadTrefoils.jpg")">
  <input type="hidden" id="lemonups" value="@routes.Assets.versioned("images/LemonUps.jpg")">
  <input type="hidden" id="lemonades" value="@routes.Assets.versioned("images/Lemonades.jpg")">
  <input type="hidden" id="dosidos" value="@routes.Assets.versioned("images/Dosidos.jpg")">
  <input type="hidden" id="caramelchocchip" value="@routes.Assets.versioned("images/CaramelChocChip.jpg")">
  <input type="hidden" id="abcsmores" value="@routes.Assets.versioned("images/ABCSmores.jpg")">


  <input type="hidden" id="employees" value="@routes.Assets.versioned("images/cybercookiesstaff.png")">

  <div id="main-root"></div>
  <script src="@routes.Assets.versioned("javascript/main.js")"></script>
  <div class="basebar_home">
    <a href="/customer">Customer Login</a>
    <a href="/troop">Troop Login</a>
  </div>
}
